<h1>Welcome to Reserve</h1>

<div class ="indeximg">
<%= link_to image_tag("sports128.png"), searchform_path(:category =>"Sports+Facility")%>
<%= link_to image_tag("restaurant128.png"), searchform_path(:category =>"Restaurant")%>
</div><br/>
<div class="indeximg" >
<%= link_to image_tag("room128.png"), searchform_path(:category =>"Room")%>
<%= link_to image_tag("appointment128.png"), searchform_path(:category =>"Appointment")%>
</div>



